body {
    margin: 0;
    background: #0f172a;
    font-family: Arial;
}

.container {

    width: 900px;
    margin: auto;
    margin-top: 20px;

}

.messages {

    height: 70vh;

    overflow-y: auto;

    padding: 20px;

}

.user-message {

    background: #2563eb;

    color: white;

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 15px;

    margin-left: 150px;

}

.bot-message {

    background: #1e293b;

    color: white;

    padding: 15px;

    border-radius: 15px;

    margin-bottom: 15px;

    margin-right: 150px;

}

.message-header {

    font-weight: bold;

    margin-bottom: 10px;

}